{% extends 'home/base.html' %}
{% block content %}
    {% load static %}
    <div id="content" class="container">
        <div class="row margin-vert-50">
            <div class="col-md-12">
                <div class="blog-post padding-bottom-20">
                    <div>
                        <h3>Projeto Transparência Ativa disseminou cidadania para alunos e professores da rede municipal de Parnaíba</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="blog">
                        <div class="clearfix"></div>
                            <div class="blog-post-body row margin-top-15">
                                <div class="col-md-5">
                                    <img class="pull-left" src="{% static  "assets/img/eventos/noticia1.jpg" %}" alt="Turminha do MPF em Parnaíba" title="Turminha do MPF em Parnaíba">
                                    <div style="text-align:left"><font size="1">Foto: Adão Matos </font></div>
                                </div>
                                <div class="col-md-7">
                                    <p align=justify>
                                    O Ministério Público Federal (MPF), no Piauí, por meio do Projeto Transparência Ativa, promoveu ação socioeducativa na última sexta-feira (13) voltada para alunos e professores da rede pública de ensino do município de Parnaíba.
                                    A ação, desenvolvida na escola municipal Roland Jacob, contou com a participação de aproximadamente 120 crianças, na faixa etária entre 6 e 7 anos, e 20 professores das escolas Pedro Pereira Fontenele, Maria Celeste de Jesus, Caio Passos, Ademar Neves, Isaías Pereira Galeno e Padre Zózimo de Moraes Tavares.
                                    Dividida em dois momentos, a iniciativa teve início com a sensibilização das crianças sobre a importância do papel do MPF para a sociedade. Para isso, a equipe se utilizou da ludicidade proporcionada pelos personagens da Turminha do MPF (www.turminhadompf.mpf.mp.br), um projeto nacional desenvolvido pela Procuradoria Geral da República. </p>
                                    <a href="http://www.mpf.mp.br/pi/sala-de-imprensa/noticias-pi/projeto-transparencia-ativa-dissemina-cidadania-para-alunos-e-professores-da-rede-municipal-de-parnaiba" target="_blank">Leia mais... </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post padding-bottom-20">
                        <div>
                            <h3>Transparência Ativa: Floriano(PI) e Teresina(PI) também receberam o projeto do MPF no Piauí</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="blog">
                            <div class="clearfix"></div>
                                <div class="blog-post-body row margin-top-15">
                                    <div class="col-md-7">
                                        <p align=justify>
                                        O município de Floriano (PI) também recebeu o projeto do Ministério Público Federal (MPF), no Piauí, que dissemina temas de cidadania para alunos e professores da rede municipal, intitulado Transparência Ativa. Mais de 170 crianças e 20 professores da rede pública de Floriano, além de profissionais da Secretaria Municipal de Educação, foram sensibilizados sobre os direitos e deveres resguardados pelo MPF pela equipe da Procuradoria da República no Piauí.
                                        As dinâmicas, promovidas na última quarta-feira (18), ocorreram na Escola Municipal José Francisco Dutra, localizada na Rua José Chicon, s/n. Seguindo a programação já realizada em Parnaíba, a iniciativa se dividiu em dois momentos. O primeiro, direcionado para as crianças, contou com músicas, dança, contação de histórias, além de muita interação com as crianças, na faixa etária compreendida entre 6 e 7 anos. Já no segundo horário, o MPF foi apresentado aos professores pela equipe da Procuradoria da República no Piauí.</p>
                                        <a href="http://www.mpf.mp.br/pi/sala-de-imprensa/noticias-pi/transparencia-ativa-floriano-pi-e-teresina-pi-tambem-recebem-projeto-do-mpf-no-piaui" target="_blank">Leia mais... </a>
                                    </div>
                                    <div class="col-md-5">
                                        <img class="pull-left" src="{% static  "assets/img/eventos/noticia2.jpg" %}" alt="Turminha do MPF em Floriano" title="Turminha do MPF em Floriano">
                                        <div style="text-align:left"><font size="1">Foto: Liana Soares </p></font></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post padding-bottom-20">
                            <div>
                                <h3>Transparência Ativa: Picos(PI) também recepcionou o projeto do MPF no Piauí</h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="blog">
                                <div class="clearfix"></div>
                                    <div class="blog-post-body row margin-top-15">
                                        <div class="col-md-5">
                                            <img class="pull-left" src="{% static  "assets/img/eventos/noticia3.jpeg" %}" alt="Turminha do MPF em Picos" title="Turminha do MPF em Picos">
                                            <div style="text-align:left"><font size="1">Foto: Liana Soares </font></div>
                                        </div>
                                        <div class="col-md-7">
                                            <p align=justify>
                                            Picos (PI) também recebeu a visita da equipe do Projeto Transparência Ativa. O evento ocorreu
                                            no dia 25 de setembro de 2019 na Escola Municipal Estadual Petrônio Portela. Aproximadamente
                                            90 crianças e 40 professores da rede pública municipal, bem como profissionais da Secretaria
                                            de Educação, receberam orientações sobre os direitos e deveres de todos os cidadãos. Eles
                                            também aprenderam com os personagens da Turminha do MPF sobre honestidade, cuidados com o
                                            meio ambiente, direitos do consumidor e as funções do Ministério Público.
                                            Já os profissionais da Educação foram sensibilizados com informações sobre a atuação do
                                            Ministério Público Federal para combater os desvios de recursos públicos, bem como atuar
                                            preventivamente para fazer cumprir o que dispõe a Constituição Federal. </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}