{% extends 'home/base.html' %}
{% block content %}
        {% load static %}
		<div id="content" class="container">
			<div class="row margin-top-3">
				<div class="item">
					<img src="{% static "assets/img/logoprincipal.jpg" %}" usemap="#image-map" alt="Transparência Ativa - Imagem by freepik" title="Transparência Ativa - Imagem by freepik"><font size="2">Designed
					<a href="https://br.freepik.com/fotos-vetores-gratis/fundo">by Freepik</a></font>
				</div>
			</div>
		</div>
		<div id="content" class="container">
			<div class="row margin-vert-30">
				<div class="col-md-9">
					<div id="textomapa">
						<p  class="margin-top-20" align= justify>O <b>Projeto Transparência Ativa</b> é uma iniciativa do Ministério Público Federal (MPF),
								por meio da Procuradoria da República no Estado do Piauí (PR/PI), que trabalha a prevenção dos atos de corrupção
								administrativa no estado do Piauí de forma tridimensional, a partir dos eixos da transparência – educação – cidadania.
								O conceito de Transparência Ativa, nome do Projeto, está disposto no artigo 8º da Lei Nº 12.527, de 18 de novembro de 2011,
								a chamada Lei de Acesso à Informação (LAI).
						</p>
						<p align=justify> O referido normativo determina que é dever dos órgãos e entidades públicas
								promover, independentemente de requerimentos, a divulgação de informações de interesse coletivo ou geral por eles produzidas ou custodiadas,
									em local de fácil acesso, no âmbito de suas competências. Nessa perspectiva, é um dos objetivos
								do Projeto fornecer à sociedade informações e conhecimentos que lhe permita alargar sua percepção sobre os malefícios
								da corrupção a partir da exposição das sentenças condenatórias proferidas em primeira instância pela Justiça Federal,
								no estado. 
						</p>
						<p align= justify>Além da divulgação das sentenças, o Projeto também promoveu ações de educação e cidadania nos
									municípios piauienses de Picos, Parnaíba, Floriano e Teresina. Voltadas aos alunos e professores
									do ensino fundamental, as ações  disseminaram o trabalho do MPF no combate à corrupção, bem como reforçaram,
									em especial para as crianças, a importância de atitudes positivas de honestidade, respeito às diferenças,
									cuidados com os animais e acessibilidade como um direito fundamental de todo o cidadão. O Projeto Transparência
									Ativa conta com o apoio da 5ª Câmara de Coordenação e Revisão do Ministério Público Federal e o patrocínio da
									Associação Nacional dos Procuradores da República (ANPR).
						</p>
					</div>
				</div>
				<div class="portfolio-item col-md-3 animate fadeIn">
					<div class="image-hover">
						<a href="mapa.html">
							<figure>
								<img src="{% static "assets/img/frontpage/mapa.jpg" %}" alt="Mapa das Sentenças de Improbidade">
								<div class="overlay">
									<a class="expand" href="mapa.html" alt="Mapa das Sentenças de Improbidade" title="Mapa das Sentenças de Improbidade">Mapa das Sentenças de Improbidade</a>
								</div>
							</figure>
							<h5 class="margin-top-20" alt="Mapa das Sentenças de Improbidade" title="Mapa das Sentenças de Improbidade"><b>Mapa das Sentenças de Improbidade</b></h5>
							<p class="margin-top-10 margin-bottom-20" align= justify>O Mapa contempla as decisões proferidas pelas Varas da Justiça Federal no Piauí, no ano de 2018,
								tendo por base as ações ajuizadas pelo MPF, no estado, em anos anteriores.
							</p>
							<div class="btn btn-default">
								<a class="info" href="mapa.html" alt="Leia mais..." title="Leia mais...">Leia mais...</a>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="portfolio-item col-sm-4 animate fadeIn">
					<div class="image-hover">
						<a  href="achados.html">
							<figure>
								<img src="{% static "assets/img/frontpage/foto1.jpg" %}" alt="Apontamentos do Projeto" title="Apontamentos do Projeto">
								<div class="overlay">
										<a class="expand" href="achados.html" alt="Apontamentos do Projeto" title="Apontamentos do Projeto">Apontamentos do Projeto</a>
								</div>
							</figure>
							<div style="text-align:left"><font size="1">Designed
								<a href="http://www.freepik.com" alt="Imagem by freepik" title="Imagem by freepik"> by Freepik</a></font>
							</div>
							<h5 alt="Apontamentos do Projeto" title="Apontamentos do Projeto"><b>Apontamentos do Projeto</b></h5>
							<p class="margin-top-10 margin-bottom-40" align= justify>O trajeto percorrido pela equipe do Projeto Transparência Ativa nos seus três eixos de atuação: transparência-educação-cidadania foi consolidado e pode ser conferido no documento intitulado “Apontamentos – Projeto Transparência Ativa. </p>
							<div class="btn btn-default">
								<a class="info" href="achados.html" alt="Leia mais..." title="Leia mais..." >Leia mais...</a>
							</div>
						</a>
					</div>
				</div>
				<div class="portfolio-item col-sm-4 animate fadeIn">
					<div class="image-hover" >
						<a href="eventos-turminha.html">
							<figure>
								<img src="{% static "assets/img/frontpage/foto2.jpg" %}" alt="Turminha do MPF nas escolas" title="Turminha do MPF nas escolas">
								<div class="overlay">
									<a class="expand" href="eventos-turminha.html" alt="Turminha do MPF nas escolas" title="Turminha do MPF nas escolas">Turminha do MPF nas escolas</a>
								</div>
							</figure>
							<h5 class="margin-top-20" alt="Turminha do MPF nas escolas" title="Turminha do MPF nas escolas">
								<b>Turminha do MPF nas escolas</b>
							</h5>
							<p class="margin-top-10 margin-bottom-20" align= justify>Crianças, com idades entre 6 e 7 anos, todos alunos do fundamental da rede pública de ensino dos municípios piauienses de  Parnaíba, Floriano, Picos e Teresina, aprenderam sobre corrupção, direitos do consumidor, tráfico de animais silvestres e acessibilidade com os personagens da Turminha do MPF.</p>
							<div class="btn btn-default">
								<a class="info" href="eventos-turminha.html" alt="Leia mais..." title="Leia mais...">Leia mais...</a>
							</div>
						</a>
					</div>
				</div>
				<div class="portfolio-item col-sm-4 animate fadeIn">
					<div class="image-hover">
						<a href="http://www.mpf.mp.br/pi/sala-de-imprensa/noticias-pi/mpf-no-piaui-conclui-primeira-etapa-do-projeto-transparencia-ativa">
							<figure>
									<img src="{% static "assets/img/frontpage/foto3.jpg" %}" alt="MPF promoveu capacitações" title="MPF promoveu capacitações">
								<div class="overlay">
										<a class="expand" href="http://www.mpf.mp.br/pi/sala-de-imprensa/noticias-pi/mpf-no-piaui-conclui-primeira-etapa-do-projeto-transparencia-ativa" alt="MPF promoveu capacitações" title="MPF promoveu capacitações">MPF promove capacitações para profissionais da Educação</a>
								</div>
							</figure>
							<h5 class="margin-top-20" alt="MPF promoveu capacitações" title="MPF promoveu capacitações"><b>MPF promoveu capacitações</b></h5>
							<p class="margin-top-10 margin-bottom-20" align= justify>No período de 13 a 30 de setembro de 2019, os municípios piauienses de Parnaíba, Floriano, Picos e Teresina receberam a equipe da Procuradoria da República no Estado do Piauí (PR/PI), que integra o Projeto Transparência Ativa, para a promoção de capacitações voltadas à cidadania.</p>
								<div class="btn btn-default">
									<a class="info" href="http://www.mpf.mp.br/pi/sala-de-imprensa/noticias-pi/mpf-no-piaui-conclui-primeira-etapa-do-projeto-transparencia-ativa" target="_blank" alt="Leia mais..." title="Leia mais...">Leia mais...</a>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}