{% extends 'home/base.html' %}
{% block content %}
    {% load static %}
    <div id="content" class="container">
        <div class="row margin-vert-50">
            <div class="container">
                <h3>Equipe do Projeto</h3>
                <p></p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Procuradores da República</th>
                        <th>Servidores</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Israel Gonçalves Santos Silva (Gerente do Projeto)</td>
                        <td> Alessandra Fontenele Lima</td>
                    </tr>
                    <tr>
                        <td>Tranvanvan da Silva Feitosa (Gerente Substituto do Projeto)</td>
                        <td>Caio Cesar de Andrade Alves</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Cristian de Vasconcelos Batista</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Elizângela Cavalcanti de Oliveira Soares Araújo</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Fernando Meira Viana</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Liana Cheila Soares Carvalho</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Márcia do Nascimento Mac Lincks</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Margareth Ramos de Moura Maggi</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Patrícia Cristina Carvalho Freitas</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Veralucia Fernandes Lima Cardoso</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}